@model dynamic
@{
    ViewBag.Title = "Hello Mockups";
}

<h2>Mockups</h2>
<ul>
    <li><a asp-controller="Number" asp-action="QuizNumber">Quiz</a></li>
    <li><a asp-controller="Number" asp-action="QuizNumberResult">QuizResult</a></li>
</ul>
